

@model SalesVM

@{
    Layout = null;
}
 <div class="modal-header">
     <h4 class="modal-title" id="myModalLabel">Sale Details</h4>
 </div>
 <div class="modal-body">
 <div class="col-md-12 col-sm-12 col-xs-12" style="padding:15px;">
     <dl class="dl-horizontal">
       <dt>@Html.DisplayNameFor(model => model.SalesName):</dt>
						<dd>@Html.DisplayFor(model => model.SalesName)</dd>

						<dt>@Html.DisplayNameFor(model => model.SalesDescription):</dt>
						<dd>@Html.DisplayFor(model => model.SalesDescription)</dd>

						<dt>@Html.DisplayNameFor(model => model.SalesDate):</dt>
						<dd>@Html.DisplayFor(model => model.SalesDate)</dd>

						<dt>@Html.DisplayNameFor(model => model.BusinessValue):</dt>
						<dd>@Html.DisplayFor(model => model.BusinessValue)</dd>

						<dt>@Html.DisplayNameFor(model => model.ReceiptImage):</dt>
						<dd>@Html.DisplayFor(model => model.ReceiptImage)</dd>

     </dl>
     </div>
 </div>
 <div class="modal-footer">
    <button type="button" class="btn btn-primary btn-custom" data-bs-dismiss="modal"><i class="fa fa-close"></i> Close</button>
 </div>